@keyframes Dice-rolling {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes Dice-canceling {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.3;
    }
}

@keyframes Dice-ignoring {
    from {
        transform: none;
        opacity: 1;
    }
    to {
        transform: scale(0.6);
        opacity: 0.5;
    }
}

@keyframes Dice-faceFade {
    from {
        opacity: 1;
        transform: none;
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

.Dice {
    display: flex;
    align-items: center;
    padding: 1em;
    padding-left: 0.5em;
    outline-color: var(--subtle-line-color);
}

.Dice[data-type="critical"] {
    --die-color: rgb(162, 29, 29);
}

.Dice[data-type="supression"] {
    --die-color: rgb(218, 142, 19);
}

.Dice[data-type="armor"] {
    --die-color: rgb(77, 62, 36);
}

.Dice[data-type="shock"] {
    --die-color: rgb(88, 48, 74);
}

.Dice[data-type="veterancy"] {
    --die-color: rgb(42, 87, 42);
}

.Dice[data-type="range"],
.Dice[data-type="cover"],
.Dice[data-type="visibility"],
.Dice[data-type="movement"] {
    --die-color: rgb(48, 59, 124);
}

.Dice[data-type="command"] {
    --die-color: rgb(218, 166, 56);
}

.Dice[data-type="morale"] {
    --die-color: rgb(54, 48, 44);
}

.Dice-die[data-state="rolling"] {
    animation: Dice-rolling linear 0.2s;
}

.Dice-die[data-state="canceling"] {
    animation: Dice-canceling linear 0.2s;
}

.Dice-die[data-state="canceled"] {
    opacity: 0.3;
}

.Dice-die[data-state="ignoring"] svg {
    animation: Dice-ignoring linear 0.2s;
}

.Dice-die[data-state="ignored"] svg {
    opacity: 0.5;
    transform: scale(0.6);
}

.Dice-die[data-state="faceDisappearing"] svg {
    animation: Dice-faceFade linear 0.2s;
}

.Dice-die[data-state="faceAppearing"] svg {
    animation: Dice-faceFade linear 0.2s reverse;
}

.Dice-type {
    width: 4em;
    margin-right: 1em;
    position: relative;
}

.Dice-type .Tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Dice-type svg {
    width: auto;
    height: 2.4em;
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.2));
    z-index: 0;
}

.Dice-type svg,
.Dice-type svg * {
    fill: var(--die-color) !important;
}

.Dice-faceCount {
    display: flex;
    color: #bbb;
}

.Dice-faceCount + .Dice-faceCount {
    margin-top: 0.2em;
}

.Dice-faceCount svg {
    height: 1em;
    width: auto;
    margin-right: 1ch;
}

.Dice-faceCount svg,
.Dice-faceCount svg * {
    fill: white !important;
}

.Dice-title {
    margin-top: 0.5em;
    font-size: 0.8em;
    color: #333;
}

.Dice-input {
    border: none;
    outline: none;
    background-color: #eee;
    padding: 0.5em;
    width: 4em;
    margin-right: 0.5em;
}

.Dice-controls {
    display: flex;
    align-items: center;
}

.Dice-controls button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.Dice-controls button svg {
    height: 2em;
    width: auto;
    fill: var(--secondary-color);
}

.Dice-controls button:hover svg {
    fill: var(--main-color);
}

.Dice-dice {
    width: 17em;
    margin-left: 2em;
    display: flex;
}

.Dice-die {
    display: inline-block;
    background-color: var(--die-color);
    box-shadow: 2px 2px 4px rgb(0 0 0 / 30%);
    border-radius: 0.4em;
    padding: 0.3em;
    height: 2.6em;
    width: 2.6em;
}

.Dice-die + .Dice-die {
    margin-left: 0.3em;
}

.Dice-die svg {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(0 0 8px rgb(0 0 0 / 35%));
}

.Dice-die svg,
.Dice-die svg * {
    fill: white !important;
}
