@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
    box-sizing: border-box;
}

html {
    --light-background-color: #c7c6ae;
    --header-background-color: #7a7850;
    --header-background-color2: #706e45;
    --header-line-color: #66653f;
    --main-color: #3d360b;
    --secondary-color: #8d8554;
    --subtle-text-color: #7c7b5c;
    --bold-line-color: #8d8c6a;
    --subtle-line-color: #afad8d;
    background-color: var(--light-background-color);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
