.RollSimulator select {
    font-size: 1.05em;
    padding: 0.4em;
}

.RollSimulator-controls {
    display: flex;
    align-items: center;
}

.RollSimulator-controls > * + * {
    margin-left: 1em;
}

.RollSimulator-diceGroups {
    display: flex;
    margin-top: 2em;
}

.RollSimulator-diceGroup + .RollSimulator-diceGroup {
    margin-left: 4em;
}

.RollSimulator-diceGroupHeading {
    margin-top: 0;
    padding-bottom: 0.3em;
    border-bottom: 2px solid var(--subtle-line-color);
    margin-bottom: 0.5em;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--main-color);
}

.RollSimulator-rollButton {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 0.3em;
    font-size: 1.2em;
    padding: 0.4em 1.3em;
    cursor: pointer;
}

.RollSimulator-rollButton:hover {
    background-color: var(--main-color);
}

.RollSimulator-predictions {
    margin-left: 3em;
    color: var(--main-color);
}

.RollSimulator-predictions dl {
    display: flex;
    align-items: center;
    margin: 0;
}

.RollSimulator-predictions dl div {
    text-align: center;
}

.RollSimulator-predictions dl div + div {
    margin-left: 1.5em;
}

.RollSimulator-predictions dt,
.RollSimulator-predictions dd {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

.RollSimulator-predictions dt {
    color: #666;
    margin-bottom: 0.3em;
}

.RollSimulator-predictions dt svg,
.RollSimulator-predictions dt svg * {
    width: 1.3rem;
    height: auto;
    fill: var(--bold-line-color) !important;
}
