
.RollSimulator select {
    font-size: 1.05em;
    padding: 0.4em;
}

.RollSimulator-controls > * + * {
    margin-left: 1em;
}

.RollSimulator-diceGroups {
    display: flex;
    margin-top: 2em;
}

.RollSimulator-diceGroup + .RollSimulator-diceGroup {
    margin-left: 4em;
}

.RollSimulator-diceGroupHeading {
    margin-top: 0;
    padding-bottom: 0.3em;
    border-bottom: 2px solid #ddd;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    font-weight: 500;
    color: #333;
}

.RollSimulator-rollButton {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 0.3em;
    font-size: 1.2em;
    padding: 0.4em 1.3em;
    cursor: pointer;
}

.RollSimulator-rollButton:hover {
    background-color: black;
}
