.RulesPageContent {
    line-height: 150%;
}

.RulesPageContent .Panel .Panel {
    display: contents;
}

.RulesPageContent a {
    color: var(--link-color);
}

.RulesPageContent a:hover {
    color: var(--main-hover-color);
}

.RulesPageContent h1 {
    color: var(--main-color);
    font-family: "Montserrat";
    margin-bottom: 0.8em;
}

.RulesPageContent > h1 {
    display: none;
}

.RulesPageContent > section {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
    width: 62em;
    margin: auto;
}

.RulesPageContent > section + section {
    margin-top: 2em;
}

.RulesPageContent > section > .Markdown:last-child > *:last-child,
.RulesPageContent > section > *:last-child {
    margin-bottom: 0;
}

.RulesPageContent > section > h1 {
    margin-top: 0;
    font-size: 3.2em;
    margin-bottom: 1.4em;
}

.RulesPageContent > section > section > h1 {
    padding-bottom: 0.3em;
    border-bottom: 2px solid var(--subtle-line-color);
    font-size: 2em;
}

.RulesPageContent > section > section > section > h1 {
    font-size: 1.6em;
}

.RulesPageContent > section > section > section > section > h1 {
    font-size: 1.3em;
}

.RulesPageContent > section > section > section > section > section > h1 {
    font-size: 1.1em;
}

.RulesPageContent
    > section
    > section
    > section
    > section
    > section
    > section
    > h1 {
    font-size: 1em;
}

.RulesPageContent blockquote {
    background-color: var(--secondary-color);
    color: white;
    padding: 1em;
    margin: 0;
}

.RulesPageContent blockquote > *:first-child {
    margin-top: 0;
}

.RulesPageContent blockquote > *:last-child {
    margin-bottom: 0;
}
